body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 280px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"] {
    border: 1px solid #ccc;
    outline: none;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus {
    border: 1px solid #FA5858;
  }
  
  input[type="submit"] {
    border: none;
    background-color: #054f2c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #007B8A;
  }
  
  .highlight {
    border-color: #FA5858;
  }
  
  label {
    display: block;
    margin-top: 20px;
  }
  